body
{
  background-image: url(about_me_background_picture.jpg);
  background-size: 90em 85em;
}

/* "Home" navigation bar */
nav
{
	position: absolute; top: 15; left: 1280;
	font-size: 30;
}

#contact_information_header_css
{
	position: absolute; left: 575; top: -4;
}

#contact_picture_css img
{
	border-radius: 50%;
	width: 14.5em; height: 16em;
	position: absolute; top: 100; left: 600;
}

#facebook h3
{
	position: absolute; top: 100; left: 470;
}

#facebook img
{
	position: absolute; top: 150; left: 476;
	width: 4em; height: 4em;
	animation-name: orbit_facebook;
	animation-duration: 3s;
}

#linkedin h3
{
	position: absolute; top: 300; left: 520;
}

#linkedin img
{
	position: absolute; top: 350; left: 525;
	width: 4em; height: 4em;
	animation-name: orbit_linkedin;
	animation-duration: 3s;
}

#github h3
{
	position: absolute; top: 300; left: 847;
}

#github img
{
	position: absolute; top: 350; left: 845;
	width: 4em; height: 4em;
	animation-name: orbit_github;
	animation-duration: 3s;
}

#twitter h3
{
	position: absolute; top: 100; left: 894;
}

#twitter img
{
	position: absolute; top: 150; left: 892;
	width: 4em; height: 4em;
	animation-name: orbit_twitter;
	animation-duration: 3s;
}

h3
{
	color: blue;
}

#email_me_header_css
{
	position: absolute; top: 390; left: 660;
	text-align: center;
	color: red;
	border-bottom: .15em solid #707070;
;
}

#email_css
{
	position: absolute; top: 475; left: 0;
	padding-right: 41em; padding-left: 40em;
	text-align: center;
}

#reason_for_contact_header_css
{
	position: absolute; top: 560; left: 648;
	text-align: center;
}

#reason_for_contact_css
{
	position: absolute; top: 589; left: 578;
	text-align: center;
}


#description_email_css
{
	position: absolute; top: 620; left: 0;
	padding-right: 42em; padding-left: 40em;
	text-align: center;
	margin-bottom: 5em;
}

input, textarea
{
	text-align: center;
	/*width: 10em;*/
}

@keyframes orbit_facebook
{
	from{ transform: translateX(210px) translateY(60px); }
}

@keyframes orbit_linkedin
{
	from{ transform: translateX(160px) translateY(-140px); }
}

@keyframes orbit_github
{
	from{ transform: translateX(-162.5px) translateY(-140px); }
}

@keyframes orbit_twitter
{
	from{ transform: translateX(-210px) translateY(75px); }
}


